<!DOCTYPE html>
  <head>
    <title>Ticket viewer</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css.css')}}">
  </head>
  <body>
    <div id="container">
      <h1>Ticket Viewer Dashboard</h1>
      <h2>{{ error }}</h2>
      <p>Contact site owner on xxxx@zendesk.com if error continues</p>
    </div>
  </body>
  </html>
